*{
    margin: 0;
    padding: 0;
    font-family: Varela Round, sans-serif;
}
.navbar{
  position: absolute;
  overflow:visible;
}
.user{
  padding-top: 20px;
}
.badge{
  font-size: 1rem;
}
#content{
  background-color: lightgray;
}
.form-control{ 
  width: 90%;
  border: 2px solid white;
  border-bottom: 2px solid black;
}
#pass{
  margin-top: 30px;
  margin-left: 1rem; 
}
#forgot{
  text-decoration: none;
}
.input-group-text{
  border: 2px solid white;
}
#btn1{
  width: 60%;
  margin-left: 11rem;
  margin-top: 30px;
}
#btn1:hover{    
  background-color: aquamarine;
  color: black;
}
#btn2{
  width: 20%;
  margin-left: 13rem;
}
#btn3{
  width: 20%;
  margin-left: 10px;
}
.icon1{
  display: flex;
  margin-left: 18rem;
}
.icon1 a{
  text-decoration: none;
  color:black;
  background-color: rgba(0,0,0,.05);
  border-radius: 50%;
  padding-top: 15px;
  padding-left: 10px;
}
.icon1 a:hover{
  cursor: pointer;
  background-color: green;
  color: white;
}
.nav-link:hover{
    background-color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 10px;
}
.navbar{
  position: absolute;
  overflow: visible;
}
.header{
  background-image: url("../photos/slider1.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hometext {
  margin-top: 25%;
  text-align: center;
}

.deal {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #507a18;
  background-color: rgba(21, 192, 35, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
}

.input-group{
  padding-top: 0.5%;
  padding-left: 20%;
  padding-right: 20%;
  position: sticky;
}
.form-control{
  height: 1.9rem;
  border-radius: 25%;
}
.search-button:hover{
  background-color: #869486;
}
#deal {
  background-color: #F6F6F6;
}

.carouselEg {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-around;
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, .10), 0 0 6px rgba(0, 0, 0, .08);
  transition: .5s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;
  padding-bottom: 10%;
}

.card-img-top:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.featureCards {
  padding-top: 2.5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 15%;
  display: flex;
  justify-content: space-around;
}

#features {
  text-align: center;
}

.feature-heading {
  padding-top: 2.5%;
}


