@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
.custom-toggler .navbar-toggler{
    border-color: black;
}
#home{
    margin-left: 16rem;
}
#search{
    width: 50%;
    margin-left: 4rem;
    margin-top: 1rem;
}
#search1{
    width: 90%;
    margin-left: 9px;
}
#btn1{
    width: 10%;
    height: 2.3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
#location{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 2rem;
    cursor: pointer;
}
#user{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 1rem;
    cursor: pointer;
}
#cart{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
#login{
    margin-top: 13px;
    font-size: 1.5rem;
    margin-left: 10px;
}
#cartheading{
    margin-top: 13px;
    font-size: 1.5rem;
    margin-left: 10px;
}
#form2Example3cg{
  margin-right: 20rem;
}
.home{
  position: relative;
}
.bg-img{
  width: 100%;
  height: 35rem;
}
.text{
  position: absolute;
  bottom: 50%;
  left: 20%;
}
#btn{
  margin-left: 9rem;
}

.deal {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #507a18;
  background-color: rgba(21, 192, 35, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
}
#deal {
  background-color: #F6F6F6;
}

.carouselEg {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-around;
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, .10), 0 0 6px rgba(0, 0, 0, .08);
  transition: .5s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;
  padding-bottom: 10%;
}

.card-img-top:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.featureCards {
  padding-top: 2.5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 15%;
  display: flex;
  justify-content: space-around;
}

#features {
  text-align: center;
}

.feature-heading {
  padding-top: 2.5%;
}











@media (max-width:768px){
  #search{
      position: absolute;
      margin-left: 9rem;
      width: 30%;
   }
   #btn1{
       position: absolute;
       margin-left: 24rem;
       width: 16%;
   }
   #location{
       margin-left: 26rem;
   }
   #user{
       margin-left: 1.5rem;
   }
   #cartheading, #login{
        display: none;
   } 
   #navbarDropdown{
       margin-left: 16rem;
   }
   #about{
       margin-left: 16rem;
   }
   #contact{
       margin-left: 16rem;
   }
   .text{
     margin-right: 29rem;
   }
   #btn{
     width: 40%;
     margin-right: 8rem;
   }
  }