* {
  margin: 0;
  padding: 0;
}

.header-1 {
  background-color: #e9fce9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2%;
}

.logo {
  color: black;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: none;
}

.logo i {
  margin: 0%;
  padding: 0%;
  color: green;
}

.navbar {
  overflow: hidden;
  background-color: #1C2224;
  width: 100%;
  height: 3.2rem;
  font-size: 8rem;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar-brand {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.navbar a {
  float: left;
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #869486;
}

.navbar a:hover {
  background-color: #507a18;
  color: black;
}

.navbar a.active {
  background-color: #507a18;
}

.navbar .cart {
  float: right;
}

.icons {
  color: #869486;
}

.homeimg {
  width: 100%;
  max-height: 713px;
  background-size: cover;
  justify-content: center;
  text-align: center;
}

.hometext {
  margin-top: 35%;
  margin-bottom: 35%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

#navi {
  margin: 0;
}

.header {
  height: 700px,
    width:100%;
  background-image: url("../photos/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deal {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #507a18;
  background-color: rgba(21, 192, 35, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
}

.input-group{
  padding-top: 0.5%;
  padding-left: 20%;
  padding-right: 20%;
  position: sticky;
}
.form-control{
  height: 1.9rem;
  border-radius: 25%;
}
.search-button:hover{
  background-color: #869486;
}


#deal {
  background-color: #F6F6F6;
}

.carouselEg {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-around;
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, .10), 0 0 6px rgba(0, 0, 0, .08);
  transition: .5s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;
  padding-bottom: 10%;
}

.card-img-top:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.featureCards {
  padding-top: 2.5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 15%;
  display: flex;
  justify-content: space-around;
}

#features {
  text-align: center;
}

.feature-heading {
  padding-top: 2.5%;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
}
