@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    font-family: Nunito,sans-serif;
}
#user{
    color: antiquewhite; 
    font-size: 2.5rem; 
    margin-left: 4rem;
    cursor: pointer;
}
#shoppingcart{
    color: antiquewhite; 
    font-size: 2.5rem; 
    margin-left: 20px;
    cursor: pointer;
}
#location{
    color: antiquewhite; 
    font-size: 2.5rem; 
    margin-left: 20px;
    cursor: pointer;
}
.btn{
    text-decoration: none;
    color: black;
    height: 5vh;
}
.header #heart{
    float: right;
    margin: 9px 9px;
    font-size: 1.5rem;
    -webkit-transition: 0.5s ease;  
    transition: 0.5s ease; 
    cursor: pointer;
}
.header #shopcart{
    float: right;
    margin: 9px 9px;
    font-size: 1.5rem;
    -webkit-transition: 0.5s ease;  
    transition: 0.5s ease; 
    cursor: pointer;
}
#heart:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: rgb(34, 189, 34);
}
#shopcart:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: rgb(34, 189, 34);
}
.card-img-top{
    -webkit-transition: 0.5s ease;  
    transition: 0.5s ease;  
}
.card-img-top:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#btn1{
    width: 50%;
}
















