@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
.custom-toggler .navbar-toggler{
    border-color: black;
}
#home{
    margin-left: 16rem;
}
#search{
    width: 50%;
    margin-left: 4rem;
    margin-top: 1rem;
}
#search1{
    width: 90%;
    margin-left: 9px;
}
#btn1{
    width: 10%;
    height: 2.3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
#location{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 2rem;
    cursor: pointer;
}
#user{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 1rem;
    cursor: pointer;
}
#cart{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
#login{
    margin-top: 13px;
    font-size: 1.5rem;
    margin-left: 10px;
}
#cartheading{
    margin-top: 13px;
    font-size: 1.5rem;
    margin-left: 10px;
}
#carouselExampleIndicators{
 width: 90%; 
height: 20rem; 
margin: 1rem 4rem;
}
#prev-icon{
background-color: rgba(0, 0, 0, 0.2); 
margin-right: 9rem;
}
#next-icon{
background-color: rgba(0, 0, 0, 0.2); 
margin-left: 9rem;
}
.image{
width: 100%; 
height: 19.5rem;
}
#main-body{
    display: flex; 
    margin: 1rem;
}
#card1{
    width: 20%; 
    margin: 10px; 
    margin-left: 50px;
}
#card2{
width: 95%; 
margin-left: 4rem;
}
#card3{
width: 69%;
height: 21rem;
margin-top: 10px; 
margin-left: 40px;
}
#card4{
    width: 13rem; 
    height: 19rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
}
#card4 .backgroundEffect{
    bottom: 0;
    height: 0px;
    width: 100%;
}
#card4:hover{
    color: black;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}
#card4:hover .backgroundEffect{
    bottom: 0;
    height: 350px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: greenyellow;
    animation: popBackground 0.4s ease-in;
}
    @keyframes popBackground {
    0% {
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%
    }

    50% {
    height: 80px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%
    }

    75% {
    height: 160px;
    border-top-left-radius: 85%;
    border-top-right-radius: 85%
    }

    100% {
    height: 320px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%
    }
    }
    .card .card-img-top{
    width: 70%;
    margin: 1rem 2rem;   
    }
    .input{
    width: 70%; 
    margin-left: 2rem;
    }
    #btn3{
    position: absolute;
    top: 16rem; left: 3rem;
    width: 50%;
    }
    #form2Example3cg{
        margin-right: 20rem;
    }
    #login-card{
        margin-top: 10%;
        height: 10%;
        width: 50%; 
        margin-left: 2rem;
    }
    #btn4{
        width: 100%; 
        margin-top: 1.2rem;
    }
    #page-nav{
        margin-left: 50%;
    }





    /*media queries  */
@media (max-width:768px){
   #search{
       position: absolute;
        margin-left: 9rem;
        width: 30%;
    }
    #btn1{
        position: absolute;
        margin-left: 24rem;
        width: 16%;
    }
    #location{
        margin-left: 26rem;
    }
    #user{
        margin-left: 1.5rem;
    }
    #cartheading, #login{
         display: none;
    } 
    #navbarDropdown{
        margin-left: 16rem;
    }
    #about{
        margin-left: 16rem;
    }
    #contact{
        margin-left: 16rem;
    }
    #card2{
    width: 85%;
    }
    #card1{
        display: none;
    }
    #card3{
    width: 100%;
    margin: 0 2.5rem;
    }
    }
    
    @media (max-width:2560px) and (min-width:768px){
    #card2{
        display: none;
    }
    }