*{
    margin: 0;
    padding: 0;
}
.header-1{
    background-color:#e9fce9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2%;
}
.logo{
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    text-decoration: none;
}
.logo i{
    margin: 0%;
    padding: 0%;
    color: green;
}
.navbar{
    overflow: hidden;
    background-color: #264233;
    width: 100%;
    height: 3rem;
}
.navbar a{
    float: left;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size:1.3rem;
    font-family: 'Montserrat', sans-serif;
}
.navbar a:hover{
    background-color:#507a18;
    color: black;

}
.navbar a.active{
    background-color: #507a18;
}
.navbar .cart{
    float: right;
}

.icons{
  color: #869486;
}

.homeimg{
  width:100%;
  max-height:713px;
  background-size: cover;
  justify-content: center;
  text-align: center;

}


@media screen and (max-width: 600px) {
    .right-nav {
      float: none;
}
.right-nav input[type=text], .right-nav button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 10px;
      padding: 14px;
}
.right-nav input[type=text] {
      border: 1px solid #ccc;
}
}
#navi{
    margin: 0;

}
.header{
  height: 700px,
  width:100%;
  background-image: url("photos/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hometext{
  margin-top: 40%;
  margin-bottom: 40%;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;

}

.btn{
    background-color: greenyellow;
    font-size: 20px;
    align-items: center;
    padding: 1%;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.heading{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    padding-top: 30px;
}
.Category .box-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 40px;
}
.Category .box-container .box{
    border: 0.1rem solid rgba(0,0,0,0.3);
    border-radius: 0.5rem;
    text-align: center;
    padding: 10px;

}
.Category .box-container.box img{
    width: 20%;
    margin: 0.5rem 0;
}
.Category .box-container .box h3{
    font-size: 3.5rem;
    margin: 0.5rem 0;
}
.Category .box-container .box p{
    font-size: 2rem;
    color: #666;
    padding: 0.5rem 0 ;
}
.Category .box-container .box .btn1{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 1%;
    cursor:pointer;
    background-color: greenyellow;
    border-radius: 10px;
}
.Category .box-container .box .btn2{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 1%;
    margin-right: 30px;
    cursor:pointer;
    background-color: greenyellow;
    border-radius: 10px;
}
.Category .box-container .box .btn3{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 1%;
    cursor:pointer;
    background-color: greenyellow;
    border-radius: 10px;
}
.deal{
    background-color: rgba(0,0,0,0.1);
}
.deal .banner{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 2.5%;
}
.banner1{
    width: 20%;
    height: 20%;
    margin: 1%;
    margin-left: 15%;
}
.banner2{
    margin: 1%;
    margin-left: 15%;
}
.left-box{
    margin-right: 10%;
}
.contact{
    text-align: center;
    padding: 3rem;
    display: flex;
}
.contact .inputbox{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
.contact .inputbox input, .contact textarea{
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .1rem solid rgba(0,0,0,0.3);
    width: 100%;
}
.contact textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}
.heading1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    padding-top: 30px;
}

.btn4{
    padding: 10px;
    background-color: lightskyblue;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 1.5rem;
}
